.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-color: rgba(0, 0, 0, 0);
  transform: translate(28px, 56px, 0);
}

.battery{
  background-image: url(../../img/binbag/battery_pin.png);	
}

.lead{
  background-image: url(../../img/binbag/lead_pin.png);	
}